<!DOCTYPE html>
<html>
<head>
    <title>Bufo Semantic Search</title>
</head>
<body>
    <h1>Bufo Semantic Search</h1>
    <form action>
        <label for="queryInput">Search:</label>
        <input type="text" id="queryInput" name="query" placeholder="Type your emotion here" required>
        <input type="submit" value="Search">
    </form>
    {% if results %}
    <ul>
    {% for result in results %}
    <li>
        <p><code>{{ result.path.name }}</code> with score {{ result.score }}</p>
        {% set image_url = "/assets/" ~ result.path.name %}
        <img src="{{ image_url }}"/>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
